* {
    margin: 0;
    padding: 0;
    font-style: Ginebra;
}

main {
    max-width: 900px;
    width: 90%;
    margin: auto;
    padding: 20px;
}

h1 {
    color: darkred;
    font-style: Ginebra;
}

ul {
    list-style-type: none;
    background-color: #70382a;
    overflow: hidden;
}

li {
    float: left;
    font-size: 30px;
}

li a {
    display: block;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #664a47;
}

h1 {
    text-align: left;
    font-size: 50px;
}

.formulario {
    max-width: 500px;
    width: 90%;
    margin: auto;
    padding: 20px;
}

.formulario2 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 70%;
    align-items: center;
}

.label-formulario {
    display: block;
    font-weight: 700;
    padding: 5px;
    cursor: pointer;
}

.input-formulario {
    width: 100%;
    border: 3px solid transparent;
    height: 30px;
    line-height: 30px;
    border-color: #cca69b;
    border-radius: 3px;
}

.input-formulario:hover {
    border-color: #6e5756;
    cursor: pointer;
}

.condiciones2 {
    height: 30px;
    line-height: 30px;
    grid-column: span 2;
}

.condiciones2:hover {
    cursor: pointer;
}

.botones-formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones {
    width: 50%;
    height: 40px;
    line-height: 40px;
    border: none;
    font-weight: bold;
    background-color: #9d4545;
    color: white;
}

.botones:hover {
    background-color: #613c3c;
    cursor: pointer;
}

.contenedor,
.contenedorcarrito {
    width: 98%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.contenedorcarrito {
    grid-template-columns: 1fr 1fr;
}

.imagenes-inicio {
    border-radius: 10px;
    min-height: 150px;
    font-weight: bold;
    padding: 20px;
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
}

.imagenes-inicio .textos {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}