{% extends './layout.html' %} {% block title %} Dashboard {% endblock %} {% block body %}

<main>

    <div>
        <div class="col-md-7">
          <table class= "table table-striped tabel.bordered bg-white table-sm">
            <thead> 
              <tr> 
                <td><h4>NOMBRE</h4></td>
                <td><h4>APELLIDO</h4></td>
                <td><h4>ACCIÓN</h4></td>
              </tr>  
            </thead> 
            <body> 
                {%for persona in personas%}
                <tr> 
                    <td>{{persona.nombre}}  </td>
                    <td>{{persona.apellido}} </td>
                    <td>
                        <form action="{{url_for('eliminar_persona', id=persona.id)}}" method="POST">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
            
                    </td>
                </tr>
                {% endfor %}      
            <body> 
          </table>      
        </div>
    </div>

</main> {% endblock %}