{% extends './layout.html' %} {% block title %} Dashboard {% endblock %} {% block body %}

<main>

    <h1>Administrador</h1>

    <aside>
        <div scope="col">
            <div class="sidebar">
                <ol>
                    <br>
                    <l1><a href="/Comentarios">Editar Comentarios</a></li>
                        <br>
                        <l1><a href="/Usuarios"> Usuarios</a></li>
                </ol>
            </div>
        </div>
    </aside>

    <body>
        <div class="contenedor">
            <h2></h2>
            <div class="imagenes-inicio" style="background-image:url(static/imagenes/tabla.jpg)">
                <p>Tabla</p>
            </div>
            <div class="imagenes-inicio" style="background-image:url(static/imagenes/tortadiag.png)">
                <p>Diagrama</p>
            </div>
        </div>

    </body>
</main><br><br><br><br><br> {% endblock %}