{% extends './layout.html' %} {% block title %} Dashboard {% endblock %} {% block body %}

<h1>Registrar un Usuario</h1>

    <form method="POST" class="formulario" action="">

        {{form.hidden_tag()}}

        {{form.nombre.label(class="label-formulario")}}

        {% if  form.nombre.errors%}
            {{form.nombre(class="input-formulario is-invalid")}}
            <div class="invalid-feedback">
                {%for error in form.nombre.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            </div>
        {% else %}
            {{form.nombre(class="input-formulario")}}
        {% endif %}

        {{form.apellido.label(class="label-formulario")}}
        {{form.apellido(class="input-formulario")}}

        {{form.direccion.label(class="label-formulario")}}
        {{form.direccion(class="input-formulario")}}

        {{form.celular.label(class="label-formulario")}}
        {% if  form.celular.errors%}
            {{form.celular(class="input-formulario is-invalid")}}
            <div class="invalid-feedback">
                {%for error in form.celular.errors%}
                    <span>{{error}}</span>
                {%endfor%}
            </div>
        {% else %}
            {{form.celular(class="input-formulario")}}
        {% endif %}

        {{form.email.label(class="label-formulario")}}
        {{form.email(class="input-formulario")}}

        {{form.fechanacimiento.label(class="label-formulario")}}
        {{form.fechanacimiento(class="input-formulario")}}

        {{form.idrol.label(class="label-formulario")}}
        {{form.idrol(class="input-formulario")}}

        {{form.contrasena.label(class="label-formulario")}}
        {{form.contrasena(class="input-formulario")}}

        {{form.contrasena2.label(class="label-formulario")}}
        {{form.contrasena2(class="input-formulario")}}

        <br><br>
        <div class="condiciones2">
            <input type="checkbox" id="condiciones" name="condiciones" />
            <label for="condiciones">Aceptar Terminos y condiciones</label>
        </div><br>

        {{form.submit(class="botones")}}
        <br><br>

    </form>

    <div>
        <div class="col-md-7">
          <table class= "table table-striped tabel.bordered bg-white table-sm">
            <thead> 
              <tr> 
                <td><h4>NOMBRE</h4></td>
                <td><h4>APELLIDO</h4></td>
                <td><h4>ACCIÓN</h4></td>
              </tr>  
            </thead> 
            <body> 
                {%for persona in personas%}
                <tr> 
                    <td>{{persona.nombre}}  </td>
                    <td>{{persona.apellido}} </td>
                    <td>
                        <form action="{{url_for('eliminar_persona', id=persona.id)}}" method="POST">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
            
                    </td>
                </tr>
                {% endfor %}
            <body>
          </table>
        </div>
    </div>
{% endblock %}