{% extends './layout.html' %} {% block title %} Inicio {% endblock %} {% block body %}

    <h1>Nuestros Productos</h1>
    <p>Mollit proident commodo ipsum elit cupidatat ad proident culpa sit excepteur do. Officia voluptate occaecat aliqua elit nisi. Ad reprehenderit ut exercitation Lorem cillum deserunt nisi excepteur deserunt nulla eiusmod ea cupidatat qui. Cillum in
        Lorem ad duis. Voluptate elit est proident do ipsum nostrud. Exercitation incididunt adipisicing nisi mollit quis sint aliqua. Commodo excepteur quis aute ad aliqua quis dolor exercitation eiusmod reprehenderit excepteur enim.</p>

    <div class="contenedor">

    {%for plato in platos%}

        <div class="imagenes-inicio">
            <div class="imagen">
                <img src="./static/uploads/{{ plato.nombreimagenplato }}" alt="">
            </div>
            <div class="info">
                <h2>{{plato.nombreplato}}</h2>
                <p>{{plato.descripcionplato}}</p>
            </div>
        </div>

    {% endfor %}




</main>
{% endblock %}