{% extends './layout.html' %} {% block title %} Login {% endblock %} {% block body %}

    <h1>Login</h1>

<form method="POST" class="formulario2" action="">

{{form.hidden_tag()}}

{{form.celular.label(class="label-formulario")}}
{{form.celular(class="input-formulario")}}

{{form.contrasena.label(class="label-formulario")}}
{{form.contrasena(class="input-formulario")}}

<div class="form-check">
    {{form.remember(class="form-check-input")}}
    {{form.remember.label(class="form-check-label")}}
</div>

{{form.submit(class="botones")}}

<small>¿No tienes cuenta? <a href="{{url_for('registro')}}">Registrate</a></small>

<br><br>

{% endblock %}