{% extends './layout.html' %} {% block title %} Login {% endblock %} {% block body %}
<main>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <h1>Login</h1>

<form method="POST" class="formulario2" action="">

{{form.hidden_tag()}}

{{form.celular.label(class="label-formulario")}}
{{form.celular(class="input-formulario")}}

{{form.contrasena.label(class="label-formulario")}}
{{form.contrasena(class="input-formulario")}}

<br>

{{form.submit(class="botones")}}

<br><br><br><br><br>
</main>
{% endblock %}