{% extends './layout.html' %} {% block title %} Menu {% endblock %} {% block body %}

    <h1>Panes</h1>
    <p>Mollit proident commodo ipsum elit cupidatat ad proident culpa sit excepteur do. Officia voluptate occaecat aliqua elit nisi. Ad reprehenderit ut exercitation Lorem cillum deserunt nisi excepteur deserunt nulla eiusmod ea cupidatat qui. Cillum in
        Lorem ad duis.</p>

    <div class="contenedor">

        {%for plato in platos%}

                    <div class="imagenes-inicio" style="background-image:url(static/uploads/{{plato.nombreimagenplato}})">
                        <div class="textos">
                            <h3>{{plato.nombreplato}}</h3>
                            <h3>{{plato.precioplato}}</h3>
                        </div>
                    </div>

        {% endfor %}

{% endblock %}