{% extends './layout.html' %} {% block title %} Registro {% endblock %} {% block body %}

<main>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <h1>Registro</h1>

    <form method="POST" class="formulario" action="">

        {{form.hidden_tag()}}

        {{form.nombre.label(class="label-formulario")}}
        {{form.nombre(class="input-formulario")}}

        {{form.apellido.label(class="label-formulario")}}
        {{form.apellido(class="input-formulario")}}

        {{form.direccion.label(class="label-formulario")}}
        {{form.direccion(class="input-formulario")}}

        {{form.celular.label(class="label-formulario")}}
        {{form.celular(class="input-formulario")}}

        {{form.email.label(class="label-formulario")}}
        {{form.email(class="input-formulario")}}

        {{form.fechanacimiento.label(class="label-formulario")}}
        {{form.fechanacimiento(class="input-formulario")}}

        {{form.contrasena.label(class="label-formulario")}}
        {{form.contrasena(class="input-formulario")}}

        {{form.contrasena2.label(class="label-formulario")}}
        {{form.contrasena2(class="input-formulario")}}
        
        <br>
        <div class="condiciones2">
            <input type="checkbox" id="condiciones" name="condiciones" />
            <label for="condiciones">Aceptar Terminos y condiciones</label>
        </div><br>

        {{form.submit(class="botones")}}
        <br><br>

        <div>
        <small>Ya tienes una cuenta?  <a href={{url_for('login')}}>Ingresa</a></small>

    </form>

</main>

{% endblock %}