{% extends './layout.html' %} {% block title %} Registro {% endblock %} {% block body %}

<main>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
    {% endfor %}

    <h1>Registro</h1>

    <form method="POST" class="formulario" action="/crearregistro">

        <div class="grupo-formulario">
            <label for="nombre" class="label-formulario">Nombre:</label>
            <div>
                <input class="input-formulario" type="text" id="nombre" name="nombre" placeholder="Ingresa tu nombre" required="true" />
            </div>
        </div> <br>

        <div class="grupo-formulario">
            <label for="apellido" class="label-formulario">Apellido:</label>
            <div>
                <input type="text" class="input-formulario" id="apellido" name="apellido" placeholder="Ingresa tu apellido" />
            </div>
        </div> <br>

        <div class="grupo-formulario">
            <label for="direccion" class="label-formulario">Direccion:</label>
            <div>
                <input type="text" id="direccion" name="direccion" placeholder="Ingresa tu direccion" class="input-formulario" />
            </div>
        </div> <br>

        <div class="grupo-formulario">
            <label for="celular" class="label-formulario">Celular:</label>
            <div>
                <input type="text" id="celular" name="celular" placeholder="Ingresa tu celular" required="true" class="input-formulario" />
            </div>
        </div> <br>

        <div class="grupo-formulario">
            <label for="email" class="label-formulario">Email:</label>
            <div>
                <input type="email" id="email" name="email" placeholder="Ingresa tu email" required="true" class="input-formulario" />
            </div>
        </div> <br>

        <div class="grupo-formulario">
            <label for="fechanacimiento" class="label-formulario">Fecha de Nacimiento:</label>
            <div>
                <input type="datetime" id="fechanacimiento" name="fechanacimiento" placeholder="Ingresa tu fecha de nacimiento" class="input-formulario" />
            </div>
        </div> <br>

        <div class="grupo-formulario">
            <label for="password_hash" class="label-formulario">Contraseña:</label>
            <div>
                <input type="password" id="password_hash" name="password_hash" placeholder="Ingresa tu contraseña" required="true" class="input-formulario" />
            </div>
        </div> <br>

        <div class="grupo-formulario">
            <label for="password_hash2" class="label-formulario">Verificar Contraseña:</label>
            <div>
                <input type="password" id="password_hash2" name="password_hash2" placeholder="Ingresa tu contraseña" required="true" class="input-formulario" />
            </div>
        </div> <br>

        <div class="condiciones2">
            <input type="checkbox" id="condiciones" name="condiciones" />
            <label for="condiciones">Aceptar Terminos y condiciones</label>
        </div><br>

        <div class="botones-formulario">
            <input type="submit" class="botones" value="Crear Cuenta" />
        </div><br><br>

        <div class="botones-formulario">
            <input type="reset" class="botones" />
        </div>

    </form>

</main>

{% endblock %}