{% extends './layout.html' %} {% block title %} Usuarios {% endblock %} {% block body %}

<main>

    <h1>Usuarios</h1>


    <table border="1" cellpadding="0" cellspacing="0" width="55%">
        <thead>
            <th scope="col">Nombre</th>
            <th scope="col">Perfil</th>
            <th scope="col">Telefono</th>
            <th scope="col">Detalles</th>

        </thead>
        <tbody>
            <tr>
                <th scope="row">Camilo Perez</th>
                <td>Camilo311</td>
                <td>3278569784</td>
                <td><a href="/Comentarios">Comentarios</a></td>
            </tr>
            <tr>
                <th scope="row">Danilo Sanchez</th>
                <td>Dan.san</td>
                <td>3298569790</td>
                <td><a href="/Comentarios">Comentarios</a></td>
            </tr>
            <tr>
                <th scope="row">Alejandra Jaramillo</th>
                <td>aleja.j2</td>
                <td>3208588700</td>
                <td><a href="/Comentarios">Comentarios</a></td>
            </tr>
            <tr>
                <th scope="row">Sandra Castañeda</th>
                <td>Sandrea.casta65</td>
                <td>3208565884</td>
                <td><a href="/Comentarios">Comentarios</a></td>
            </tr>

    </table>

</main><br><br><br><br><br><br><br><br> {% endblock %}